
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="\static\home_style.css">
</head>
<body>
    <header>
        <div id="navbar">
            <div id="logo-box">
                <img src="/static/images/logo.png" alt="logo">
            </div>
            <div id="tag-box">
                <a href="#">Home</a>
                <a href="add_recipe.html">Add Recipe</a>
                <a href="#">Sign Up</a>
                <a href="#">Log In</a>
                <a href="#">Review</a>


            </div>
            <div id="search-box">
                <input type="text" placeholder="search">
                <button>search</button>

            </div>
        </div>
    </header>




   
  <div class="block">
   <div class="img-container">
      <img src="https://images.unsplash.com/photo-1621996346565-e3dbc646d9a9?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="img-container">
      <div class="heading">
         <h1>PASTA</h1>
         <div class= "description">
            <p>To make a classic pasta with tomato sauce, start by bringing a large pot of salted water to a boil and cook 400 grams of your favorite pasta, such as spaghetti, until al dente. While the pasta cooks, prepare the tomato sauce. Heat two tablespoons of olive oil in a large skillet over medium heat, then add one finely chopped medium onion and cook until soft and translucent, about five minutes. Add three minced garlic cloves and cook for another minute until fragrant. Pour in one can of crushed tomatoes (400 grams) and stir to combine.</p>
            
         </div>
      </div>
   </div>
  </div>

</body>
</html>